* {
  font-family: Segoe UI Historic, SegoeUI, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: #333;
}

a {
  text-decoration: none;
  color: #99b1d8;
}


.Wrap__content {
  display: flex;
}

.recent-login {
  text-align: left;
  width: 60%;
}

.create-account {
  text-align: left;
}


.form__signup {
}

.input__set {
}

.input__field {
  display: inline-block;
}

.input__text {
  padding-left: 5px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #d1d0d0;
}

.input__mobile-password {
  width: 100%;
}

.btn__submit-green {
  background-color: #07810d;
  padding: 4px;
  color: #ffffff;
  text-shadow: 2px 1px 0 0 #333;
  font-weight: bold;
  font-size: 20px;
  width: 170px;
  border-radius: 8px;
  border: 1px solid #05530a;

  &:enabled {
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: #2d9233;
    }
  }

  &:disabled {
    background-color: 05530a;
  }
}

.u-inline {
  display: inline-block;
}

.u-width50 {
  width: 50%;
}

.u-width100 {
  width: 100%;
}

.u-al-r {
  text-align: right;
}

.u-width95 {
  width: 95%;
}

.u-mr-t {
  margin-top: 10px;
}

.u-mr-t-15 {
  margin-top: 15px;
}

.u-mr-b-15 {
  margin-bottom: 15px;
}

.u-mr-r-15 {
  margin-right: 15px
}

.u-mr-r-5 {
  margin-right: 5px
}

.t-color-gray {
  color: gray;
}