* {
  font-family: Segoe UI Historic, SegoeUI, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  border: 0;
  color: #333;
}

a {
  text-decoration: none;
  color: #99b1d8;
}